body {
    margin: 0px;
    padding: 0px;
    display: grid;
}



/* title */
#bar-container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    background-color: #f8f0fc;
    position: fixed;
    top: 0;
    width: 100%;
}

#bar title {
    border-style: solid;
}

#title {
    width: 25%;
    display: inline;
}



/* nav */
.nav nav {
    display: flex;
    justify-content: space-between;
    border-style: solid;
}

.nav-links {
    display: inline;
}

/* content */
#about {
    width: 75%;
    margin: 125px 188px 10px 188px;
    border-style: solid;
}


#experience {
    width: 75%;
    margin: 10px auto;
    border-style: solid;
}

#git {
    width: 75%;
    margin: 10px auto;
    border-style: solid;
}

p {
    display: inline;
}

#contact {
    border-style: solid;
    margin: 125px 188px 10px 188px;
}

#form {
    width: 75%;
    border: solid;
    margin: 10px auto;
}

/* footer */
footer {
    background-color: #f8f0fc;
    text-align: center;
}

/* images */
.img-container {
    float: right;
    border-style: solid;
}

#main {
    width: 240px;
    height: 400px;
}

#experience #screenshot {
    width: 35rem;
    height: 18rem;
}

#second {
    display: inline;
    width: 240px;
    height: 300px;
    border-style: solid;
}