/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Benne&display=swap');

/* main */

body {
    margin: 0px;
    padding: 0px;
    display: grid;
    font-family: 'Benne', serif;
    font-size: 20px;
}




/* title */
#bar-container {
    display: flex;
    justify-content: space-around;
    border-style: solid;
    background-color: #f8f0fc;
    position: fixed;
    top: 0;
    width: 100%;
}

#bar title {
    border-style: solid;
}

#title {
    width: 25%;
    display: inline;
    font-family: 'Lora', serif;
}



/* nav */
.nav nav {
    display: flex;
    justify-content: space-between;
    border-style: solid;
}

.nav-links {
    display: inline;
    font-family: 'Lora', serif;
}

/* content */
#about-container {
    display: flex;
    width: 75%;
    margin: 125px 188px 10px 188px;
}

#experience-container {
    display: flex;
    width: 75%;
    margin: 10px auto;
}

.h {
    position: absolute;
    z-index: -1;
}

#about-container .text {
    margin: 75px 5px 5px 5px;
    line-height: 32px;
}

#experience-container .text {
    margin: 75px 5px 5px 5px;
    line-height: 32px;
}



#git {
    width: 75%;
    margin: 10px auto;
    border-style: solid;
}


#contact {
    margin: 125px 188px 10px 188px;
}

#contact li {
    list-style-type: none;
}

#form {
    width: 75%;
    border: solid;
    margin: 10px auto;
}

/* form */


/* footer */
footer {
    display: inline;
    text-align: center;
    line-height: 30px;
}

/* images */

#main {
    width: 240px;
    height: 400px;
    margin-top: 60px;
    margin-left: 10px;
    border-radius: 50px;
}

#screenshot {
    float: right;
    width: 35rem;
    height: 18rem;
    margin-top: 100px;
    margin-left: 10px;
    padding-left: 20px;
}

#second {
    display: inline;
    width: 240px;
    height: 300px;
    border-style: solid;
    margin: 0px 650px;
    border-radius: 25px;
}